@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(../../public/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url(../../public/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Gelica;
  font-weight: 900;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-black.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 700;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-bold.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 500;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-medium.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 400;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-regular.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 300;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-light.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 200;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-light.otf);
}

@font-face {
  font-family: Khula;
  font-weight: 900;
  src: url(../../public/fonts/Khula/Khula-ExtraBold.ttf);
}

@font-face {
  font-family: Khula;
  font-weight: 700;
  src: url(../../public/fonts/Khula/Khula-Bold.ttf);
}

@font-face {
  font-family: Khula;
  font-weight: 400;
  src: url(../../public/fonts/Khula/Khula-Regular.ttf);
}

@font-face {
  font-family: Khula;
  font-weight: 300;
  src: url(../../public/fonts/Khula/Khula-Light.ttf);
}


body {
  margin: 0;
  padding: 0;
  font-family: Khula, sans-serif;
  background: rgb(240,233,244);
  background: radial-gradient(circle, rgba(240,233,244,1) 11%, rgba(201,226,244,1) 59%, rgba(247,204,227,1) 100%);
}

.custom-shadow{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}


.transparent-div{
  width: 95%;
  height: 40%; 
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 16px;
  border: 0.83px solid var(--Primary, #545ADE);
  background: rgba(84, 90, 222, 0.40);
  backdrop-filter: blur(14.10446834564209px); 
}

/* .active-slide .card-container */

.card-container{
  @apply  rounded-lg relative h-[285px] w-[225px] m-auto text-[11px]
}

/* .swiper-slide-active .card-container{
  @apply  rounded-lg relative h-[387px] w-[305px] m-auto text-[15px]
}
.swiper-slide-next .card-container{
  @apply  rounded-lg relative h-[340px] w-[255px] m-auto text-[13px]
}
.swiper-slide-prev .card-container{
  @apply  rounded-lg relative h-[340px] w-[255px] m-auto text-[13px]
} */
