@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(../../public/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url(../../public/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Gelica;
  font-weight: 900;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-black.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 700;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-bold.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 500;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-medium.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 400;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-regular.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 300;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-light.otf);
}

@font-face {
  font-family: Gelica;
  font-weight: 200;
  src: url(../../public/fonts/Gelica/Fontspring-DEMO-gelica-light.otf);
}

@font-face {
  font-family: Khula;
  font-weight: 900;
  src: url(../../public/fonts/Khula/Khula-ExtraBold.ttf);
}

@font-face {
  font-family: Khula;
  font-weight: 700;
  src: url(../../public/fonts/Khula/Khula-Bold.ttf);
}

@font-face {
  font-family: Khula;
  font-weight: 400;
  src: url(../../public/fonts/Khula/Khula-Regular.ttf);
}

@font-face {
  font-family: Khula;
  font-weight: 300;
  src: url(../../public/fonts/Khula/Khula-Light.ttf);
}


body {
  margin: 0;
  padding: 0;
  font-family: Khula, sans-serif;
  background: rgb(240,233,244);
  background: radial-gradient(circle, rgba(240,233,244,1) 11%, rgba(201,226,244,1) 59%, rgba(247,204,227,1) 100%);
}

@media (min-width: 720px){
  .custom-shadow{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  }
}
@media (min-width: 640px){
  .custom-shadow{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
  }
}


.transparent-div{
  width: 95%;
  height: 40%; 
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 16px;
  border: 0.83px solid var(--Primary, #545ADE);
  background: rgba(84, 90, 222, 0.40);
  backdrop-filter: blur(14.10446834564209px); 
}

/* .active-slide .card-container */

.swiper-slide{
  transform: scale(0.5);
  opacity: 0.6;
  z-index: 0;
}

.swiper-slide-active{
  transform: scale(1);
  opacity: 1;
  z-index: 2;
  left: unset;
}
.swiper-slide-next{
  transform: scale(0.7);
  opacity: 0.8;
  z-index: 1;
  left: unset;
}
.swiper-slide-prev{
  transform: scale(0.7);
  opacity: 0.8;
  z-index: 1;
  left: unset;
}
